.container {
    margin: 0 auto;
    width: 60%;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 200px;
    height: 200px;
    background-color: rgb(146, 236, 93);
    margin: 20px;
}